<h1>TodoList</h1>
<table>
    <tr>
        <th> Id </th>
        <th> Title </th>
        <th> Description </th>
        <th> isDone </th>
        <th> Action </th>
    </tr>
    <tr *ngFor="let item of items">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.description}}</td>
        <td>{{item.isDone}}</td>
        <td>
            <button [disabled]="item.isDone" (click)="onMarkDone(item)"> Done </button>
            <button (click)="onGoToDetail(item.id)"> View Detail </button>
            <button (click)="ondeleteItem(item.id)"> Delete </button>
        </td>
    </tr>
</table>

<app-create-todo (created)="refreshList()"></app-create-todo>