/* You can add global styles to this file, and also import other style files */
html, body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
}
h2 {
  padding-left: 10px;
}
table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px 16px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

form {
  margin: 16px 0;
}

button + button, input + input, input + button {
  margin-left: 8px;
}

input {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0069d9;
}

button:active {
  background-color: #005cbf;
}

button[disabled]{
  background-color: grey;
}
